<div class="container">
    <h2 class="text-center">Consulta de Contatos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ct of contatos">
                <td>{{ct.id}} </td>
                <td>{{ct.firstName}} </td>
                <td>{{ct.lastName}} </td>
                <td>{{ct.email}} </td>
                <td>
                    <button (click)="excluir(ct.id)">excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

