<p>Pessoas para pagar o churrasco</p>
<ul>
    <li *ngFor="let n of nomes" >{{n}}</li>
</ul>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Fone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contato of contatos">
            <td> {{contato.id}}</td>
            <td>{{contato.nome}}</td>
            <td>{{contato.email}}</td>
            <td>{{contato.fone}}</td>
        </tr>
    </tbody>
</table>
